@charset "utf-8";

.game_tab_cont .tab_cont .game_list a:hover span.gradation {position:absolute; top:0; left:10px; display:block; width:152px; height:82px; border:5px solid #b4babd; cursor:pointer; }