@charset "utf-8";
.setGame-wrap.element4{background:url('../images/setGame/bg_element4_ie7.png') no-repeat;}
.setGame-wrap.element5{background:url('../images/setGame/bg_element5_ie7.png') no-repeat;}
.setGame-wrap.element6{background:url('../images/setGame/bg_element6_ie7.png') no-repeat;}
.setGame-plate .open .arrow{display: none;}
