@charset "utf-8";

/* ¿Ã∫•∆Æ */
.mgb20{margin-bottom:20px;}

.midterm{position:relative;}
.midterm .top{background:#64aad8;}
.midterm .snswrap{position:absolute; top:15px; right:12px;}
.midterm .snswrap a{display:inline-block; width:31px; height:31px; margin-left:5px; vertical-align:top; font-size:0; line-height:0; background:url(../../images/event/20160426/img_sns.png)}
.midterm .snswrap .fb a{background-position:0 0;}
.midterm .snswrap .tw a{background-position:-41px 0;}
.midterm .snswrap .kko a{background-position:-82px 0;}

.midterm .conwrap{padding-bottom:15px; background:url(../../images/event/20160825/bg_con.jpg) repeat-y 0 0;}
.midterm .conwrap .evtcon_wrap{padding:0 15px;}

.midterm .conwrap .evtcon01{position:relative; padding-bottom:40px; background:url(../../images/event/20160825/bg_con1.png) no-repeat 0 0; *zoom:1;}
.midterm .conwrap .evtcon01:after{clear:both; content:''; display:block;}
.midterm .conwrap .evtcon01 .ruler{position:relative; float:left; width:36px; height:420px; margin:132px 0 62px; padding-left:17px;}
.midterm .conwrap .evtcon01 .wing{position:absolute; left:-35px; bottom:0%; display:inline-block; height:48px; margin-bottom:-25px; z-index:9999;}
.midterm .conwrap .evtcon01 .wing span{position:relative; display:inline-block; width:45px; height:45px; padding:0 54px 3px 47px; line-height:45px; vertical-align:middle; font-size:22px; font-weight:800; text-align:center; color:#fff495; background:url(../../images/event/20160825/img_wing.png) no-repeat 0 0;}
.midterm .conwrap .evtcon01 .myscore{position:absolute; top:112px; left:265px; width:450px; height:45px; line-height:45px; color:#fff; font-weight:400; font-weight:700; font-size:17px;}
.midterm .conwrap .evtcon01 .grade_wrap{float:right; width:625px; margin-top:208px; margin-right:20px;}
.midterm .conwrap .evtcon01 .grade_wrap ul{margin-top:44px; *zoom:1;}
.midterm .conwrap .evtcon01 .grade_wrap ul:first-child{margin-top:0;}
.midterm .conwrap .evtcon01 .grade_wrap ul:after{clear:both; content:''; display:block;}
.midterm .conwrap .evtcon01 .grade_wrap li{float:left; margin-left:14px;}
.midterm .conwrap .evtcon01 .grade_wrap li:first-child{margin-left:0;}

.midterm .conwrap .evtcon02{position:relative;}
.midterm .conwrap .evtcon02 .btn_teacher{position:absolute; top:76px; right:20px; display:inline-block; width:293px; height:77px; background-color:#fff; -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)"; filter:alpha(opacity=0); opacity:0;}

.midterm .conwrap .boardtb{padding:38px 20px 35px; border-radius:0 0 4px 4px; background:#fafafa;}
.midterm .conwrap .boardtb .line_list_con td{background:#fafafa;}