@charset "utf-8";

/* °øÅë */
.pt5{padding-top:5px;}
.mgt0{margin-top:0 !important;}
.mgr20{margin-right:20px;}
.mgb5{margin-bottom:5px;}
.cl_both{clear:both; overflow:hidden;}
.fl_l{float:left;}

.popwrap{position:relative;}
.popwrap .header{height:50px; line-height:50px; background-color:#72b1e1;}
.popwrap .header h1{float:left; padding-top:18px; padding-left:25px;}
.popwrap .header h1 *{vertical-align:top;}
.popwrap .header h1 span{display:inline-block; margin-left:13px; padding-left:13px; color:#fff; font-size:16px; line-height:1; background:url('../../images/popup/bar_gray.gif') no-repeat 0 50%;}
.popwrap .header .btn-formula{position:absolute; top:12px; right:55px;}
.popwrap button.btn-close{position:absolute; top:19px; right:25px; width:14px; height:13px; background-color:transparent;}
.popwrap .conwrap{clear:both; overflow:hidden; padding:0 5px 5px; background-color:#72b1e1;}
.popwrap .btn{padding-top:20px; text-align:center;}
.popwrap .btn *{vertical-align:top;}
.popwrap .btn button{width:94px; height:29px; margin-left:8px; background-color:#fff;}
.popwrap .btn button:first-child{margin-left:0;}

.popwrap .pop_cont{padding:0 6px 6px; background-color:#72b1e1;}
.popwrap .conwrap{padding:20px; color:#2d2d2d; font-size:11px; word-break:break-all; word-wrap:break-word; background-color:#fff;}
.popwrap .conwrap h3{text-align:center; padding:17px 0}
.popwrap .conwrap h4{background:url('../../images/event/20160218/popup/type01_bull.png') no-repeat 0 50%; margin-top:23px; padding-left:15px; font-size:15px; font-weight:bold; color:#3a4354; margin-bottom:8px;}
.popwrap .conwrap h4 strong{color:#5995c3; font-size:15px;}
.popwrap .conwrap h4 .caution{font-size:15px; color:#d23412;}
.popwrap .conwrap .agr-noti{color:#25577e; font-size:13px; margin-bottom:10px;}
.popwrap .conwrap .goal_tb{margin-top:5px; border:0; border-collapse:collapse; border-top:2px solid #778c9d; border-bottom:2px solid #778c9d; background-color:#fff; empty-cells:show;}
.popwrap .conwrap .goal_tb th{font-size:12px; padding:15px; border-bottom:1px solid #d1d5d8; text-align:left; line-height:1.4; background-color:#e7edf2;}
.popwrap .conwrap .goal_tb th .textRed{color:#5995c3;}
.popwrap .conwrap .goal_tb td{font-size:12px; padding:15px; border-bottom:1px solid #d1d5d8; line-height:1.4; text-align:left;}
.popwrap .conwrap .goal_tb td.txtC{text-align:center;}
.popwrap .conwrap .goal_tb td.addr div *{vertical-align:middle; line-height:20px;}
.popwrap .conwrap .goal_tb select{height:22px; line-height:22px;}
.popwrap .conwrap .goal_tb .must{margin-right:3px; color:#ff0a03;}

.popwrap .conwrap .btnAreaPop{clear:both; padding-top:20px; text-align:center;}

.popwrap.type01 h2{text-align:center; padding:5px 0 15px;}
.popwrap.type01 h2 img{display:block; margin:0 auto;}
.popwrap.type01 h2 img.cong{margin-top:10px;}
.popwrap.type01 .input_area{overflow:hidden;}
.popwrap.type01 .input_area .select_wrap{float:left;}
.popwrap.type01 .input_area em{float:left; margin:8px 5px 0; font-style:inherit;}
.popwrap.type01 .input_area input[type="text"]{float:left; padding:9px; border:1px solid #d7d7d7; width:60px; border-radius:3px; height:auto; line-height:1;}
.popwrap.type01 .agree{padding:10px; border:1px solid #d1d5d8;}
.popwrap.type01 .agree li{color:#808080; font-size:12px; letter-spacing:-1px;}
.popwrap.type01 .agree li + li {margin-top:10px;}
.popwrap.type01 .checkAgree{margin-top:5px;}
.popwrap.type01 .checkAgree label{font-weight:bold;}

.authcode .inputcode{width:100%; padding:15px 0; border-top:1px solid #d1d5d8; border-bottom:1px solid #d1d5d8; text-align:center;}
.authcode .inputcode .guide{margin-bottom:15px; color:#4f4f4f; font-weight:bold; line-height:1.5; text-align:center; font-size:13px;}
.authcode .inputcode .guide label{color:#25577e; font-size:13px;}
.authcode .inputcode input[type="text"]{width:258px; height:40px; text-align:center; font-size:17px; line-height:40px; color:#4c4c4c; font-weight:bold; border:4px solid #b5b5b5; vertical-align:middle;}
.authcode .btnAreaPop button{width:74px; height:34px;}
