@charset "utf-8";
/* 이벤트 */
.setGame-event{position:relative;}
.setGame-event .top{position:relative;}
.setGame-event .snswrap{position:absolute; top:30px; right:30px;}
.setGame-event .snswrap a{display:inline-block; width:31px; height:31px; margin-left:5px; vertical-align:top; font-size:0; line-height:0; background:url(../../images/event/20160426/img_sns.png)}
.setGame-event .snswrap .fb a{background-position:0 0;}
.setGame-event .snswrap .tw a{background-position:-41px 0;}
.setGame-event .snswrap .kko a{background-position:-82px 0;}


.setGame-event .event-info{position:relative;}
.setGame-event .event-info .evt-participant{position:absolute; top:40px; right:109px; font-size: 18px; font-weight: bold; color:#ffeb44;}
.setGame-event .event-info .btn-event{position:absolute; top:22px; right:63px; cursor: pointer; width:244px; height:62px; background:url('../../images/event/20170224/btn_evt_join.png') no-repeat;}
.setGame-event .event-info .btn-gamePlay{position:absolute; bottom:81px; left:78px; cursor: pointer; width:356px; height:57px; background:url('../../images/event/20170224/btn_setGame_start.png') no-repeat;}
.setGame-event .event-info .btn-gamePlay{position:absolute; bottom:81px; left:78px; cursor: pointer; width:356px; height:57px; background:url('../../images/event/20170224/btn_setGame_start.png') no-repeat;}
.setGame-event .event-info .btn-win{position:absolute; bottom:87px; left:55px; width: 307px; height:62px; background:url('../../images/event/20170224/btn_evt_win.png') no-repeat;}
.setGame-event .event-info .btn-win{position:absolute; bottom:87px; left:55px; width: 307px; height:62px; background:url('../../images/event/20170224/btn_evt_win.png') no-repeat;}
.setGame-event .event-info .btn-info-insert{position:absolute; bottom:90px; right:58px; width: 306px; height:57px; background:url('../../images/event/20170224/btn_evt_insert.png') no-repeat;}

/* notice */
.setGame-event .notice{position:relative; padding:28px 25px 25px 34px; background:#434bac;}
.setGame-event .notice ul{padding-top:15px;}
.setGame-event .notice li{margin-top:8px; padding-left:12px; font-weight:600; line-height:1.7; font-size:13px; color:#9ab8e5; letter-spacing:-1px; background:url(../../images/event/20170224/bul_notice.png) no-repeat 0 9px;}
.setGame-event .notice li:first-child{margin-top:0;}
.setGame-event .notice li a.point{color:#cbe0ff;}
