@charset "utf-8"; 

.clearfix {overflow:hidden;}
.clearfix:before, .clearfix:after {content:""; display:block;}
.clearfix:after {clear:both;}

.summerStudy {background:none;}
.summerStudy .top {position:relative; width:763px;}
.summerStudy .top .btn-apply {position:absolute; top:568px; left:247px; display:block; width:288px; height:70px; font-size:0; border-radius:40px; background:#fff; opacity:0; filter:alpha(opacity='0');}
.summerStudy .top .btn-apply + img {position:absolute; top:675px; left:162px;}
.summerStudy .snswrap {position:absolute; top:29px; right:20px;}
.summerStudy .snswrap a{display:inline-block; width:37px; height:37px; margin-left:7px; vertical-align:top; font-size:0; line-height:0; background-image:url('../../images/event/20180213/img_sns.png'); *display: inline; zoom: 1;}
.summerStudy .snswrap a.fb {background-position:0 0;}
.summerStudy .snswrap a.tw {background-position:-41px 0;}
.summerStudy .snswrap a.kko {background-position:-82px 0;}
.summerStudy .top + .topBan {position:absolute; top:670px; left:-90px;}

/* 이벤트 영역 */
.summerStudy .eventArea > div {position:relative;}

.summerStudy .eventArea .cont_01 a {position:absolute; top:0; left:0; display:block; width:132px; height:132px; font-size:0; border-radius:66px; background:url('../../images/event/20180705/btn_off.png') no-repeat;}
.summerStudy .eventArea .cont_01 a.on {background-image:url('../../images/event/20180705/btn_on.png');}
.summerStudy .eventArea .cont_01 a.btn_01 {top:192px; left:75px; background-position:0 0;}
.summerStudy .eventArea .cont_01 a.btn_02 {top:192px; left:235px; background-position:0 -140px;}
.summerStudy .eventArea .cont_01 a.btn_03 {top:192px; left:395px; background-position:0 -280px;}
.summerStudy .eventArea .cont_01 a.btn_04 {top:192px; left:556px; background-position:0 -420px;}
.summerStudy .eventArea .cont_01 a.btn_05 {top:319px; left:151px; background-position:0 -560px;}
.summerStudy .eventArea .cont_01 a.btn_06 {top:319px; left:311px; background-position:0 -700px;}
.summerStudy .eventArea .cont_01 a.btn_07 {top:319px; left:472px; background-position:0 -840px;}

.summerStudy .eventArea .cont_02 [class*="week"] {position:absolute; width:203px; height:255px;}
.summerStudy .eventArea .cont_02 .week_01 {top:229px; left:57px;}
.summerStudy .eventArea .cont_02 .week_02 {top:229px; left:280px;}
.summerStudy .eventArea .cont_02 .week_03 {top:229px; left:503px;}
.summerStudy .eventArea .cont_02 .week_04 {top:540px; left:171px;}
.summerStudy .eventArea .cont_02 .week_05 {top:540px; left:394px;}
.summerStudy .eventArea .cont_02 .score {display:block; font-size:16px; color:#fff; font-weight:600; line-height:52px; text-align:center;}
.summerStudy .eventArea .cont_02 .score strong {color:#fff071; font-weight:600;}
.summerStudy .eventArea .cont_02 img.cover_end, .summerStudy .eventArea .cont_02 img.cover_apply {position:absolute; top:52px; left:0; display:none;}
.summerStudy .eventArea .cont_02 img.cover_before {position:absolute; top:0; left:0;}
.summerStudy .eventArea .cont_02 .open img.cover_before {display:none;}
.summerStudy .eventArea .cont_02 .end img.cover_before, 
.summerStudy .eventArea .cont_02 .end img.cover_apply {display:none;}
.summerStudy .eventArea .cont_02 .end img.cover_end {display:block;}
.summerStudy .eventArea .cont_02 .apply img.cover_before, 
.summerStudy .eventArea .cont_02 .apply img.cover_end {display:none;}
.summerStudy .eventArea .cont_02 .apply img.cover_apply {display:block;}

/* notice */
.summerStudy .notice {padding:35px 39px 30px 35px; background-color:#895d13;}
.summerStudy .notice ul {padding-top:10px;}
.summerStudy .notice li {margin-top:5px; padding-left:15px; color:#ecca8c; font-weight:600; line-height:1.8; font-size:13px; background:url('../../images/event/20180705/bul.png') no-repeat 0 10px;}
.summerStudy .notice li .point {color:#ffec6b;}

/* 이벤트 종료 */
.summerStudy.end .top .btn_win {position:absolute; top:600px; left:93px; display:block; width:270px; height:70px; font-size:0; border-radius:40px; background:#fff; opacity:0; filter:alpha(opacity='0');}
.summerStudy.end .top .btn_info_insert {position:absolute; top:600px; left:408px; display:block; width:270px; height:70px; font-size:0; border-radius:40px; background:#fff; opacity:0; filter:alpha(opacity='0');}
.summerStudy.end .top .myScore_01 {position:absolute; top:607px; left:318px; display:block; font-weight:700; color:#fdff57; font-size:20px;}
.summerStudy.end .top .myScore_02 {position:absolute; top:607px; left:571px; display:block; font-weight:700; color:#fdff57; font-size:20px;}
