@charset "utf-8"; 

.clearfix {overflow:hidden;}
.clearfix:before, .clearfix:after {content:""; display:block;}
.clearfix:after {clear:both;}
button {background-color:transparent;}
.pop_bg {position:fixed; left:0; top:0; width:100%; height:100%; z-index:1; content:"";  background:#000; opacity:0.5; filter:alpha(opacity=50);}

.vacation {position:relative} 
.vacation  h1 {position:absolute; top:39px; left:33px;}
.vacation .snswrap {position:absolute; top:34px; right:24px;}
.vacation .snswrap a{display:inline-block; width:31px; height:31px; margin-left:6px; vertical-align:top; font-size:0; line-height:0; background-image:url('../../images/event/20191212/img_sns.png'); *display: inline; zoom: 1;}
.vacation .snswrap a.fb {background-position:0 0;}
.vacation .snswrap a.tw {background-position:-41px 0;}
.vacation .snswrap a.kko {background-position:-82px 0;}
.vacation .top .btn-pre-apply {position:absolute; top:600px; left:436px; display:block; width:294px; height:71px; background:url('../../images/event/20200123/btn_event_before.png') 0 0 no-repeat;}
.vacation .top .btn-pre-apply.off {background-position:0 -71px;}
.vacation .top .btn-apply {position:absolute; top:600px; left:436px; display:block; width:294px; height:71px; background:url('../../images/event/20200123/btn_apply.png') 0 0  no-repeat;}
.vacation .top .btn-apply.off {background-position:0 -71px;}

.vacation .top_end {position:relative}
.vacation .top_end [class^="btn-winner"] {position:absolute; display:inline-block; height:71px; background-image:url('../../images/event/20200123/btn_event_fin.png'); background-repeat:no-repeat }
.vacation .top_end .btn-winner1 {left:406px; top:602px; width:324px; background-position:0 0}
.vacation .top_end .btn-winner2 {left:406px; top:602px;width:324px; background-position:0 -72px}
.vacation .top_end .btn-winner3 {left:406px; top:602px; width:324px; background-position:0 -145px}


.vacation .eventArea {background:url('../../images/event/20200123/bg_event.jpg') 0 0 no-repeat; padding:40px 0 40px }
.vacation .eventArea h2 {text-align:center; margin-bottom:20px}
.vacation .eventArea.end {width:763px; height:388px; background:#f7e5cd url('../../images/event/20200123/bg_event_end.png') 0 0 no-repeat; padding-top:55px; box-sizing:border-box}
.vacation .eventArea .mystatus {width:650px; height:446px; background:url('../../images/event/20200123/my_status.png') 0 0 no-repeat; margin:0 auto}
.vacation .eventArea .mystatus dl {padding:142px 0 0 0} 
.vacation .eventArea .mystatus dt {display:inline-block; background:url('../../images/event/20200123/txt_mystatus.png'); background-repeat:no-repeat}
.vacation .eventArea .mystatus dd {display:inline-block;font-size:18px; font-weight:600; color:#ffffff; vertical-align:top }
.vacation .eventArea .mystatus dd strong { font-size:22px; font-weight:bold;}
.vacation .eventArea .mystatus dt.tit1 {background-position:0 0; width:113px; height:20px; margin:3px 0 0 45px}
.vacation .eventArea .mystatus dt.tit2{background-position:-350px 0; width:96px; height:20px; margin:3px 30px 0 60px }
.vacation .eventArea .mystatus dd.grade {width:150px; padding-left:20px;}
.vacation .eventArea .bonusevent {width:703px; height:371px; background:url('../../images/event/20200123/bonusevent2.png') 0 0 no-repeat; margin:5px auto 0; position:relative}
.vacation .eventArea .bonusevent .myatt {padding:266px 0 0 86px;}
.vacation .eventArea .bonusevent .myatt * {display:inline-block; vertical-align:middle}
.vacation .eventArea .bonusevent .myatt dt {width:105px; height:28px; background:url('../../images/event/20200123/txt_attcheck.png') 0 0 no-repeat; margin-top:3px}
.vacation .eventArea .bonusevent .myatt dd {font-size:30px; color:#ba363a; font-weight:bold; margin-left:5px}
.vacation .eventArea .bonusevent .myatt dd span {display:inline-block; width:41px; height:28px; background:url('../../images/event/20200123/txt_attcheck.png') -143px 0 no-repeat; text-indent:-9999px; vertical-align:top; margin:2px 0 0 2px}
.vacation .eventArea .bonusevent  .btn_att {display:block; position:absolute; right:125px; top:245px; width:264px; height:71px; background:url('../../images/event/20200123/btn_attcheck.png') 0 0 no-repeat;}
.vacation .eventArea .bonusevent  .btn_att.off{background-position:0 -71px}

.vacation .eventArea_end {background:url('../../images/event/20200123/bg_event_end1.jpg') 0 0 no-repeat; padding:20px 0 40px}
.vacation .eventArea_end .mystatus {width:694px; height:507px; background:url('../../images/event/20200123/tit_event_end.png') 0 0 no-repeat; margin:0 auto}
.vacation .eventArea_end .mystatus dl {padding:129px 0 0 20px} 
.vacation .eventArea_end .mystatus dt {display:inline-block; background:url('../../images/event/20200123/txt_mystatus.png'); background-repeat:no-repeat}
.vacation .eventArea_end .mystatus dd {display:inline-block;font-size:18px; font-weight:600; color:#ffffff; vertical-align:top }
.vacation .eventArea_end .mystatus dd strong { font-size:22px; font-weight:bold;}
.vacation .eventArea_end .mystatus dt.tit1 {background-position:0 0; width:113px; height:20px; margin:3px 0 0 45px}
.vacation .eventArea_end .mystatus dt.tit2{background-position:-350px 0; width:96px; height:20px; margin:3px 30px 0 60px }
.vacation .eventArea_end .mystatus .grade {width:170px; padding-left:20px}

.vacation .eventArea_end .plan_wrapper {position:relative; width:630px; margin:-315px auto 0}

.vacation .eventArea_end .bonusevent {width:703px; height:291px; background:url('../../images/event/20200123/bg_bonusevent_end.png') 0 0 no-repeat; margin:10px auto 0; position:relative}
.vacation .eventArea_end .bonusevent .myatt_end {padding:160px 0 0 104px;}
.vacation .eventArea_end .bonusevent .myatt_end * {display:inline-block; vertical-align:top}
.vacation .eventArea_end .bonusevent .myatt_end dt {width:155px; height:28px; background:url('../../images/event/20200123/txt_atd_end.png') 0 0 no-repeat;}
.vacation .eventArea_end .bonusevent .myatt_end dd {font-size:27px; color:#ba363a; font-weight:bold; margin-left:10px}
.vacation .eventArea_end .bonusevent .myatt_end dd strong{font-size:40px; margin-top:-7px}

.vacation .eventArea_end h2 {text-align:center; margin-top:20px}
.vacation .eventArea.noapply {padding-top:30px; background:url('../../images/event/20200123/bg_event.jpg') 0 100% no-repeat;}
.vacation .eventArea_end.noapply {padding-top:30px; background:url('../../images/event/20200123/bg_event_end2.jpg') 0 0 no-repeat;}
.vacation .eventArea.noapply .wrap,
.vacation .eventArea_end.noapply .wrap {text-align:center}
.vacation .eventArea.noapply h2,
.vacation .eventArea_end.noapply h2 {text-align:center; margin:20px 0 30px}


.plan_wrapper {position:relative; width:630px; margin:-240px auto 0}
.plan_wrapper .container {width: 572px; height: 572px;  border-radius: 50%; position: absolute; top:29px; left:29px; overflow: hidden;}
.plan_wrapper .container [class^="sector"] {position:absolute; transform-origin:100% 100%; opacity:0.2; background:transparent; width:5000px; height: 5000px; left:50%;top:50%;margin-top: -5000px;margin-left: -5000px; }

.plan_wrapper .container .sector1{transform: rotate(90deg)  skew(82.5deg)}
.plan_wrapper .container .sector2 {transform: rotate(97.5deg)  skew(82.5deg)}
.plan_wrapper .container .sector3 {transform: rotate(105deg)  skew(82.5deg)}
.plan_wrapper .container .sector4 {transform: rotate(112.5deg)  skew(82.5deg)}
.plan_wrapper .container .sector5 {transform: rotate(120deg)  skew(82.5deg)}
.plan_wrapper .container .sector6 {transform: rotate(127.5deg)  skew(82.5deg)}
.plan_wrapper .container .sector7 {transform: rotate(135deg)  skew(82.5deg)}
.plan_wrapper .container .sector8 {transform: rotate(142.5deg)  skew(82.5deg)}
.plan_wrapper .container .sector9 {transform: rotate(150deg)  skew(82.5deg)}
.plan_wrapper .container .sector10 {transform: rotate(157.5deg)  skew(82.5deg)}
.plan_wrapper .container .sector11 {transform: rotate(165deg)  skew(82.5deg)}
.plan_wrapper .container .sector12 {transform: rotate(172.5deg)  skew(82.5deg)}
.plan_wrapper .container .sector13 {transform: rotate(180deg)  skew(82.5deg)}
.plan_wrapper .container .sector14 {transform: rotate(187.5deg)  skew(82.5deg)}
.plan_wrapper .container .sector15 {transform: rotate(195deg)  skew(82.5deg)}
.plan_wrapper .container .sector16 {transform: rotate(202.5deg)  skew(82.5deg)}
.plan_wrapper .container .sector17 {transform: rotate(210deg)  skew(82.5deg)}
.plan_wrapper .container .sector18 {transform: rotate(217.5deg)  skew(82.5deg)}
.plan_wrapper .container .sector19 {transform: rotate(225deg)  skew(82.5deg)}

.plan_wrapper .container .sector20 {transform: rotate(232.5deg)  skew(82.5deg)}
.plan_wrapper .container .sector21 {transform: rotate(240deg)  skew(82.5deg)}
.plan_wrapper .container .sector22 {transform: rotate(247.5deg)  skew(82.5deg)}
.plan_wrapper .container .sector23 {transform: rotate(255deg)  skew(82.5deg)}
.plan_wrapper .container .sector24 {transform: rotate(262.5deg)  skew(82.5deg)}
.plan_wrapper .container .sector25 {transform: rotate(270deg)  skew(82.5deg)}
.plan_wrapper .container .sector26 {transform: rotate(277.5deg)  skew(82.5deg)}
.plan_wrapper .container .sector27 {transform: rotate(285deg)  skew(82.5deg)}
.plan_wrapper .container .sector28 {transform: rotate(292.5deg)  skew(82.5deg)}
.plan_wrapper .container .sector29 {transform: rotate(300deg)  skew(82.5deg)
}
.plan_wrapper .container .sector30 {transform: rotate(307.5deg)  skew(82.5deg)}
.plan_wrapper .container .sector31 {transform: rotate(315deg)  skew(82.5deg)}
.plan_wrapper .container .sector32 {transform: rotate(322.5deg)  skew(82.5deg)}
.plan_wrapper .container .sector33 {transform: rotate(330deg)  skew(82.5deg)}
.plan_wrapper .container .sector34 {transform: rotate(337.5deg)  skew(82.5deg)}
.plan_wrapper .container .sector35 {transform: rotate(345deg)  skew(82.5deg)}
.plan_wrapper .container .sector36 {transform: rotate(352.5deg)  skew(82.5deg)}

.plan_wrapper .container .sector37 {transform: rotate(0deg)  skew(82.5deg)}
.plan_wrapper .container .sector38 {transform: rotate(7.5deg)  skew(82.5deg)}
.plan_wrapper .container .sector39 {transform: rotate(15deg)  skew(82.5deg)}
.plan_wrapper .container .sector40 {transform: rotate(22.5deg)  skew(82.5deg)}
.plan_wrapper .container .sector41 {transform: rotate(30deg)  skew(82.5deg)}
.plan_wrapper .container .sector42 {transform: rotate(37.5deg)  skew(82.5deg)}
.plan_wrapper .container .sector43 {transform: rotate(45deg)  skew(82.5deg)}
.plan_wrapper .container .sector44 {transform: rotate(52.5deg)  skew(82.5deg)}
.plan_wrapper .container .sector45 {transform: rotate(60deg)  skew(82.5deg)}
.plan_wrapper .container .sector46 {transform: rotate(67.5deg)  skew(82.5deg)}
.plan_wrapper .container .sector47 {transform: rotate(75deg)  skew(82.5deg)}
.plan_wrapper .container .sector48 {transform: rotate(82.5deg)  skew(82.5deg)}

.plan_wrapper 	.fin_color1 {background-color:#717171 !important}
.plan_wrapper	.fin_color2 {background-color:#ba4a3d !important}
.plan_wrapper	.fin_color3 {background-color:#4f73b0 !important}
.plan_wrapper	.fin_color4 {background-color:#b29e2f !important}
.plan_wrapper	.fin_color5 {background-color:#538c63 !important}
.plan_wrapper	.fin_color6 {background-color:#5c1866 !important}
.plan_wrapper	.fin_color7 {background-color:#cc1b77 !important}
.plan_wrapper	.fin_color8 {background-color:#70b22f !important}
.plan_wrapper	.fin_color9 {background-color:#ff9c00 !important}
.plan_wrapper	.fin_color10 {background-color:#041e57 !important}

/*ie hack*/
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
.plan_wrapper .container {opacity:0.2}
.plan_wrapper .container [class^="sector"] {opacity:1;}
.plan_wrapper .container .sector1{transform: rotate(90deg)  skew(82deg)}
.plan_wrapper .container .sector2 {transform: rotate(97.5deg)  skew(82deg)}
.plan_wrapper .container .sector3 {transform: rotate(105deg)  skew(82deg)}
.plan_wrapper .container .sector4 {transform: rotate(112.5deg)  skew(82deg)}
.plan_wrapper .container .sector5 {transform: rotate(120deg)  skew(82deg)}
.plan_wrapper .container .sector6 {transform: rotate(127.5deg)  skew(82deg)}
.plan_wrapper .container .sector7 {transform: rotate(135deg)  skew(82deg)}
.plan_wrapper .container .sector8 {transform: rotate(142.5deg)  skew(82deg)}
.plan_wrapper .container .sector9 {transform: rotate(150deg)  skew(82deg)}
.plan_wrapper .container .sector10 {transform: rotate(157.5deg)  skew(82deg)}
.plan_wrapper .container .sector11 {transform: rotate(165deg)  skew(82deg)}
.plan_wrapper .container .sector12 {transform: rotate(172.5deg)  skew(82deg)}
.plan_wrapper .container .sector13 {transform: rotate(180deg)  skew(82deg)}
.plan_wrapper .container .sector14 {transform: rotate(187.5deg)  skew(82deg)}
.plan_wrapper .container .sector15 {transform: rotate(195deg)  skew(82deg)}
.plan_wrapper .container .sector16 {transform: rotate(202.5deg)  skew(82deg)}
.plan_wrapper .container .sector17 {transform: rotate(210deg)  skew(82deg)}
.plan_wrapper .container .sector18 {transform: rotate(217.5deg)  skew(82deg)}
.plan_wrapper .container .sector19 {transform: rotate(225deg)  skew(82deg)}
.plan_wrapper .container .sector20 {transform: rotate(232.5deg)  skew(82deg)}
.plan_wrapper .container .sector21 {transform: rotate(240deg)  skew(82deg)}
.plan_wrapper .container .sector22 {transform: rotate(247.5deg)  skew(82deg)}
.plan_wrapper .container .sector23 {transform: rotate(255deg)  skew(82deg)}
.plan_wrapper .container .sector24 {transform: rotate(262.5deg)  skew(82deg)}
.plan_wrapper .container .sector25 {transform: rotate(270deg)  skew(82deg)}
.plan_wrapper .container .sector26 {transform: rotate(277.5deg)  skew(82deg)}
.plan_wrapper .container .sector27 {transform: rotate(285deg)  skew(82deg)}
.plan_wrapper .container .sector28 {transform: rotate(292.5deg)  skew(82deg)}
.plan_wrapper .container .sector29 {transform: rotate(300deg)  skew(82deg)}
.plan_wrapper .container .sector30 {transform: rotate(307.5deg)  skew(82deg)}
.plan_wrapper .container .sector31 {transform: rotate(315deg)  skew(82deg)}
.plan_wrapper .container .sector32 {transform: rotate(322.5deg)  skew(82deg)}
.plan_wrapper .container .sector33 {transform: rotate(330deg)  skew(82deg)}
.plan_wrapper .container .sector34 {transform: rotate(337.5deg)  skew(82deg)}
.plan_wrapper .container .sector35 {transform: rotate(345deg)  skew(82deg)}
.plan_wrapper .container .sector36 {transform: rotate(352.5deg)  skew(82deg)}
.plan_wrapper .container .sector37 {transform: rotate(0deg)  skew(82deg)}
.plan_wrapper .container .sector38 {transform: rotate(7.5deg)  skew(82deg)}
.plan_wrapper .container .sector39 {transform: rotate(15deg)  skew(82deg)}
.plan_wrapper .container .sector40 {transform: rotate(22.5deg)  skew(82deg)}
.plan_wrapper .container .sector41 {transform: rotate(30deg)  skew(82deg)}
.plan_wrapper .container .sector42 {transform: rotate(37.5deg)  skew(82deg)}
.plan_wrapper .container .sector43 {transform: rotate(45deg)  skew(82deg)}
.plan_wrapper .container .sector44 {transform: rotate(52.5deg)  skew(82deg)}
.plan_wrapper .container .sector45 {transform: rotate(60deg)  skew(82deg)}
.plan_wrapper .container .sector46 {transform: rotate(67.5deg)  skew(82deg)}
.plan_wrapper .container .sector47 {transform: rotate(75deg)  skew(82deg)}
.plan_wrapper .container .sector48 {transform: rotate(82.5deg)  skew(82deg)}
}
@supports (-ms-ime-align:auto)
and (-webkit-text-stroke:initial) {
.plan_wrapper .container {opacity:0.2}
.plan_wrapper .container [class^="sector"] {opacity:1;}
.plan_wrapper .container .sector1{transform: rotate(90deg)  skew(82deg)}
.plan_wrapper .container .sector2 {transform: rotate(97.5deg)  skew(82deg)}
.plan_wrapper .container .sector3 {transform: rotate(105deg)  skew(82deg)}
.plan_wrapper .container .sector4 {transform: rotate(112.5deg)  skew(82deg)}
.plan_wrapper .container .sector5 {transform: rotate(120deg)  skew(82deg)}
.plan_wrapper .container .sector6 {transform: rotate(127.5deg)  skew(82deg)}
.plan_wrapper .container .sector7 {transform: rotate(135deg)  skew(82deg)}
.plan_wrapper .container .sector8 {transform: rotate(142.5deg)  skew(82deg)}
.plan_wrapper .container .sector9 {transform: rotate(150deg)  skew(82deg)}
.plan_wrapper .container .sector10 {transform: rotate(157.5deg)  skew(82deg)}
.plan_wrapper .container .sector11 {transform: rotate(165deg)  skew(82deg)}
.plan_wrapper .container .sector12 {transform: rotate(172.5deg)  skew(82deg)}
.plan_wrapper .container .sector13 {transform: rotate(180deg)  skew(82deg)}
.plan_wrapper .container .sector14 {transform: rotate(187.5deg)  skew(82deg)}
.plan_wrapper .container .sector15 {transform: rotate(195deg)  skew(82deg)}
.plan_wrapper .container .sector16 {transform: rotate(202.5deg)  skew(82deg)}
.plan_wrapper .container .sector17 {transform: rotate(210deg)  skew(82deg)}
.plan_wrapper .container .sector18 {transform: rotate(217.5deg)  skew(82deg)}
.plan_wrapper .container .sector19 {transform: rotate(225deg)  skew(82deg)}
.plan_wrapper .container .sector20 {transform: rotate(232.5deg)  skew(82deg)}
.plan_wrapper .container .sector21 {transform: rotate(240deg)  skew(82deg)}
.plan_wrapper .container .sector22 {transform: rotate(247.5deg)  skew(82deg)}
.plan_wrapper .container .sector23 {transform: rotate(255deg)  skew(82deg)}
.plan_wrapper .container .sector24 {transform: rotate(262.5deg)  skew(82deg)}
.plan_wrapper .container .sector25 {transform: rotate(270deg)  skew(82deg)}
.plan_wrapper .container .sector26 {transform: rotate(277.5deg)  skew(82deg)}
.plan_wrapper .container .sector27 {transform: rotate(285deg)  skew(82deg)}
.plan_wrapper .container .sector28 {transform: rotate(292.5deg)  skew(82deg)}
.plan_wrapper .container .sector29 {transform: rotate(300deg)  skew(82deg)}
.plan_wrapper .container .sector30 {transform: rotate(307.5deg)  skew(82deg)}
.plan_wrapper .container .sector31 {transform: rotate(315deg)  skew(82deg)}
.plan_wrapper .container .sector32 {transform: rotate(322.5deg)  skew(82deg)}
.plan_wrapper .container .sector33 {transform: rotate(330deg)  skew(82deg)}
.plan_wrapper .container .sector34 {transform: rotate(337.5deg)  skew(82deg)}
.plan_wrapper .container .sector35 {transform: rotate(345deg)  skew(82deg)}
.plan_wrapper .container .sector36 {transform: rotate(352.5deg)  skew(82deg)}
.plan_wrapper .container .sector37 {transform: rotate(0deg)  skew(82deg)}
.plan_wrapper .container .sector38 {transform: rotate(7.5deg)  skew(82deg)}
.plan_wrapper .container .sector39 {transform: rotate(15deg)  skew(82deg)}
.plan_wrapper .container .sector40 {transform: rotate(22.5deg)  skew(82deg)}
.plan_wrapper .container .sector41 {transform: rotate(30deg)  skew(82deg)}
.plan_wrapper .container .sector42 {transform: rotate(37.5deg)  skew(82deg)}
.plan_wrapper .container .sector43 {transform: rotate(45deg)  skew(82deg)}
.plan_wrapper .container .sector44 {transform: rotate(52.5deg)  skew(82deg)}
.plan_wrapper .container .sector45 {transform: rotate(60deg)  skew(82deg)}
.plan_wrapper .container .sector46 {transform: rotate(67.5deg)  skew(82deg)}
.plan_wrapper .container .sector47 {transform: rotate(75deg) skew(82deg)}
.plan_wrapper .container .sector48 {transform: rotate(82.5deg) skew(82deg)}
}
.plan_wrapper .icon_round {position:absolute; top:300px; left:50%; margin-left:15px }
.plan_wrapper .nd_12_1 {display:block; position:absolute; top:38px; left:314px;}
.plan_wrapper .nd_12_2 {display:block; position:absolute; top:42px; left:349px}
.plan_wrapper .nd_1_1 {display:block; position:absolute; top:48px; left:384px; transform:rotate(14deg)}
.plan_wrapper .nd_1_2 {display:block; position:absolute; top:61px; left:419px; transform:rotate(15deg)}

.plan_wrapper .nd_2_1 {display:block; position:absolute; top:77px; left:448px; transform:rotate(25deg)}
.plan_wrapper .nd_2_2 {display:block; position:absolute; top:97px; left:478px; transform:rotate(25deg)}

.plan_wrapper .nd_3_1{display:block; position:absolute; top:120px; left:501px; transform:rotate(45deg)}
.plan_wrapper .nd_3_2 {display:block; position:absolute; top:145px; left:523px; transform:rotate(45deg)}
.plan_wrapper .nd_4_1{display:block; position:absolute; top:173px; left:544px; transform:rotate(58deg)}
.plan_wrapper .nd_4_2 {display:block; position:absolute; top:205px; left:558px; transform:rotate(58deg)}
.plan_wrapper .nd_5_1{display:block; position:absolute; top:238px; left:571px; transform:rotate(73deg)}
.plan_wrapper .nd_5_2 {display:block; position:absolute; top:272px; left:577px; transform:rotate(73deg)}
.plan_wrapper .nd_6_1{display:block; position:absolute; top:307px; left:579px; transform:rotate(90deg)}
.plan_wrapper .nd_6_2{display:block; position:absolute; top:342px; left:584px; transform:rotate(-95deg)}
.plan_wrapper .nd_7_1{display:block; position:absolute; top:378px; left:575px; transform:rotate(-75deg)}
.plan_wrapper .nd_7_2{display:block; position:absolute; top:413px; left:568px; transform:rotate(-75deg)}

.plan_wrapper .nd_8_1{display:block; position:absolute; top:442px; left:547px; transform:rotate(-58deg)}
.plan_wrapper .nd_8_2{display:block; position:absolute; top:473px; left:530px; transform:rotate(-58deg)}
.plan_wrapper .nd_9_1{display:block; position:absolute; top:498px; left:503px; transform:rotate(-45deg)}
.plan_wrapper .nd_9_2{display:block; position:absolute; top:524px; left:479px; transform:rotate(-45deg)}

.plan_wrapper .nd_10_1{display:block; position:absolute; top:537px; left:447px; transform:rotate(-25deg)}
.plan_wrapper .nd_10_2{display:block; position:absolute; top:558px; left:417px; transform:rotate(-25deg)}
.plan_wrapper .nd_11_1{display:block; position:absolute; top:565px; left:383px; transform:rotate(-14deg)}
.plan_wrapper .nd_11_2{display:block; position:absolute; top:577px; left:348px; transform:rotate(-14deg)}

.plan_wrapper .nd_r12_1{display:block; position:absolute; top:574px; left:313px; transform:rotate(0deg)}
.plan_wrapper .nd_r12_2{display:block; position:absolute; top:577px; left:278px; transform:rotate(2deg)}

.plan_wrapper .nd_r1_1{display:block; position:absolute; top:566px; left:244px; transform:rotate(14deg)}
.plan_wrapper .nd_r1_2 {display:block; position:absolute; top:559px; left:209px; transform:rotate(14deg)}
.plan_wrapper .nd_r2_1 {display:block; position:absolute; top:538px; left:180px; transform:rotate(25deg)}
.plan_wrapper .nd_r2_2{display:block; position:absolute; top:524px; left:147px; transform:rotate(25deg)} 
.plan_wrapper .nd_r3_1{display:block; position:absolute; top:495px; left:124px; transform:rotate(45deg)}
.plan_wrapper .nd_r3_2{display:block; position:absolute; top:475px; left:95px; transform:rotate(45deg)}
.plan_wrapper .nd_r4_1{display:block; position:absolute; top:440px; left:82px; transform:rotate(58deg)}
.plan_wrapper .nd_r4_2{display:block; position:absolute; top:413px; left:59px; transform:rotate(58deg)}
.plan_wrapper .nd_r5_1 {display:block; position:absolute; top:377px; left:54px; transform:rotate(73deg)}
.plan_wrapper .nd_r5_2 {display:block; position:absolute; top:343px; left:43px; transform:rotate(73deg)}
.plan_wrapper .nd_r6_1{display:block; position:absolute; top:307px; left:44px; transform:rotate(90deg)}
.plan_wrapper .nd_r6_2{display:block; position:absolute; top:271px; left:40px; transform:rotate(91deg)}
.plan_wrapper .nd_r7_1{display:block; position:absolute; top:237px; left:54px; transform:rotate(105deg)}
.plan_wrapper .nd_r7_2{display:block; position:absolute; top:201px; left:58px; transform:rotate(105deg)}
.plan_wrapper .nd_r8_1{display:block; position:absolute; top:172px; left:81px; transform:rotate(118deg)}
.plan_wrapper .nd_r8_2 {display:block; position:absolute; top:141px; left:96px; transform:rotate(118deg)}
.plan_wrapper .nd_r9_1{display:block; position:absolute; top:115px; left:122px; transform:rotate(132deg)}
.plan_wrapper .nd_r9_2 {display:block; position:absolute; top:88px; left:145px; transform:rotate(132deg)}
.plan_wrapper .nd_r10_1{display:block; position:absolute; top:73px; left:179px; transform:rotate(150deg)}
.plan_wrapper .nd_r10_2{display:block; position:absolute; top:52px; left:207px; transform:rotate(150deg)}
.plan_wrapper .nd_r11_1{display:block; position:absolute; top:44px; left:244px; transform:rotate(165deg)}
.plan_wrapper .nd_r11_2 {display:block; position:absolute; top:33px; left:277px; transform:rotate(165deg)}

.divline_wrap {position:absolute;top:0; left;0; width: 572px; height: 572px;}
.divline3_1 {position:absolute; top:86px; left:416px; transform:rotate(44.5deg);}
.divline3_2 {position:absolute; top:135px; left:445px; transform:rotate(68deg);}
.divline3_3 {position:absolute; top:255px; left:430px; transform:rotate(-60deg);}
.divline3_4 {position:absolute; top:300px; left:380px; transform:rotate(-30deg);}
.divline3_5 {position:absolute; top:325px; left:278px; transform:rotate(14.5deg);}
.divline3_6 {position:absolute; top:295px; left:233px; transform:rotate(38deg);}
.divline3_7 {position:absolute; top:242px; left:185px; transform:rotate(67.5deg);}
.divline3_8 {position:absolute; top:170px; left:178px; transform:rotate(97.5deg);}
.divline3_9 {position:absolute; top:75px; left:250px; transform:rotate(150deg)}

.divline4_1 {position:absolute; top:189px; left:440px; transform:rotate(90deg);}
.divline4_2 {position:absolute; top:299px; left:379px; transform:rotate(-30deg);}
.divline4_3 {position:absolute; top:299px; left:249px; transform:rotate(30deg);}
.divline4_4 {position:absolute; top:152px; left:180px; transform:rotate(105deg);}
.divline4_5 {position:absolute; top:73px; left:227px; transform:rotate(142.5deg);}

.divline5_1 {position:absolute; top:46px; left:334px; transform:rotate(7.5deg);}
.divline5_2 {position:absolute; top:205px; left:446px; transform:rotate(97.5deg);}
.divline5_3 {position:absolute; top:223px; left:442px; transform:rotate(105deg);}
.divline5_4 {position:absolute; top:315px; left:281px; transform:rotate(15deg);}
.divline5_5 {position:absolute; top:207px; left:175px; transform:rotate(82.5deg);}

.divline6_1 {position:absolute; top:116px; left:442px; transform:rotate(60deg);}
.divline6_2 {position:absolute; top:223px; left:442px; transform:rotate(105deg);}
.divline6_3 {position:absolute; top:315px; left:367px; transform:rotate(-22.5deg);}
.divline6_4 {position:absolute; top:273px; left:204px; transform:rotate(52.5deg);}
.divline6_5 {position:absolute; top:134px; left:185px; transform:rotate(112.5deg);}

.divline_m1_1 {position:absolute; top:115px; left:442px; transform:rotate(60deg);}
.divline_m1_2 {position:absolute; top:223px; left:442px; transform:rotate(105deg);}
.divline_m1_3 {position:absolute; top:324px; left:332px; transform:rotate(-7.5deg)}
.divline_m1_4 {position:absolute; top:188px; left:175px; transform:rotate(-90deg);}
.divline_m1_5 {position:absolute; top:104px; left:205px; transform:rotate(128deg);}

.divline_m2_1 {position:absolute; top:116px; left:442px; transform:rotate(60deg);}
.divline_m2_2 {position:absolute; top:223px; left:442px; transform:rotate(105deg);}
.divline_m2_3 {position:absolute; top:295px; left:395px; transform:rotate(-37deg);}
.divline_m2_4 {position:absolute; top:296px; left:232px; transform:rotate(37.5deg)}
.divline_m2_5 {position:absolute; top:79px; left:206px; transform:rotate(135deg);}

.divline_m3_1 {position:absolute; top:106px; left:422px; transform:rotate(53deg);}
.divline_m3_2 {position:absolute; top:240px; left:442px; transform:rotate(-67deg);}
.divline_m3_3 {position:absolute; top:315px; left:348px; transform:rotate(-15deg);}
.divline_m3_4 {position:absolute; top:297px; left:231px; transform:rotate(37deg);}
.divline_m3_5 {position:absolute; top:134px; left:185px; transform:rotate(112deg);}

.divline_h_1 {position:absolute; top:154px; left:443px; transform:rotate(75deg);}
.divline_h_2 {position:absolute; top:323px; left:332px; transform:rotate(-7.5deg);}
.divline_h_3 {position:absolute; top:255px; left:199px; transform:rotate(59.5deg);}
.divline_h_4 {position:absolute; top:75px; left:250px; transform:rotate(150deg);}

/* notice */
.vacation .notice {padding:35px 30px 30px 35px; background-color:#0d1c49;}
.vacation .notice ul {padding-top:10px;}
.vacation .notice li {margin-top:5px; padding-left:12px; color:#6f8ce1; font-weight:600; line-height:1.8; font-size:13px; background:url('../../images/event/20181205/bul.png') no-repeat 0 10px;}
.vacation .notice li .point {color:#baccff;}

