@charset "utf-8"; 

.clearfix {overflow:hidden;}
.clearfix:before, .clearfix:after {content:""; display:block;}
.clearfix:after {clear:both;}
button {background-color:transparent;}
.pop_bg {position:fixed; left:0; top:0; width:100%; height:100%; z-index:1; content:"";  background:#000; opacity:0.5; filter:alpha(opacity=50);}

.yut {position:relative; width:763px; overflow:hidden} 
.yut  h1 {position:absolute; top:39px; left:33px;}
.yut .snswrap {position:absolute; top:34px; right:24px;}
.yut .snswrap a{display:inline-block; width:35px; height:35px; vertical-align:top; font-size:0; line-height:0; background-image:url('../../images/event/20201105/icon_sns.png'); *display: inline; zoom: 1; margin-left:3px}
.yut .snswrap a.fb {background-position:0 0;}
.yut .snswrap a.tw {background-position:-41px 0;}
.yut .snswrap a.kko {background-position:-82px 0;}
.yut .snswrap a.url {background-position:-123px 0;}
.yut .top,
.yut .top_end {position:relative}
.yut .top .btn-pre-apply {position:absolute; top:560px; right:21px; display:block; width:279px; height:71px; background:url('../../images/event/20201204/btn_pre_apply.png') 0 0 no-repeat;}
.yut .top .btn-pre-apply.off {background-position:0 -72px;}
.yut .top .btn-apply {position:absolute; top:560px; right:21px; display:block; width:279px; height:71px; background:url('../../images/event/20201204/btn_apply.png') 0 0  no-repeat;}
.yut .top .btn-apply.off {background-position:0 -72px;}
.yut .top [class^="btn-winner"] {position:absolute; right:22px; top:560px; display:inline-block; height:71px;}
.yut .top .btn-winner1 {width:279px; background:url('../../images/event/20201204/btn_winner1.png') 0 0 no-repeat }
.yut .top .btn-winner2 {width:350px; background:url('../../images/event/20201204/btn_winner3.png') 0 0 no-repeat }
.yut .top .btn-winner3 {width:350px; background:url('../../images/event/20201204/btn_winner2.png') 0 0 no-repeat }

.yut .goto_contents {background:url('../../images/event/20201204/bg_recom_cont.png'); height:290px; }
.yut .goto_contents ul {width:678px; margin:0 auto; padding-top:146px}
.yut .goto_contents li {float:left; width:159px; height:81px; background-image:url('../../images/event/20201204/tab_recom.png'); background-repeat:no-repeat; margin-left:14px}
.yut .goto_contents li a {display:block; width:100%; height:100%;  text-indent:-9999px}
.yut .goto_contents li.tab01 {background-position:0 0; margin-left:0}
.yut .goto_contents li.tab02 {background-position:-173px 0;}
.yut .goto_contents li.tab03 {background-position:-346px 0;}
.yut .goto_contents li.tab04 {background-position:-519px 0;}
.yut .goto_contents li.tab01:hover {background-position:0px -82px;}
.yut .goto_contents li.tab02:hover {background-position:-173px -82px;}
.yut .goto_contents li.tab03:hover {background-position:-346px -82px;}
.yut .goto_contents li.tab04:hover {background-position:-519px -82px;}
.yut .eventArea {background:#003058; position:relative; padding-bottom:35px;}
.yut .eventArea .playSemi {position:relative; width:763px; height:693px; padding:359px 0 0 40px; box-sizing:border-box; background:url('../../images/event/20201204/bg_semi.jpg') 0 0 no-repeat; overflow: hidden;}
.yut .eventArea .playSemi li {float:left; display:block; width:220px; height:155px; background-image:url('../../images/event/20201204/list_semi.png'); background-repeat:no-repeat; position:relative}
.yut .eventArea .playSemi li.off a:before {display:block; content:""; position:absolute; top:0; left:0; width:100%; height:112px; background-color: rgba(0,0,0,0.7);}
.yut .eventArea .playSemi li a {display:block; width:100%; height:112px; text-indent:-9999px;}
.yut .eventArea .playSemi .lnk01 {background-position:0 0; margin-right:12px}
.yut .eventArea .playSemi .lnk02 {background-position:-232px 0; margin-right:11px}
.yut .eventArea .playSemi .lnk03 {background-position:-463px 0}
.yut .eventArea .playSemi .lnk04 {background-position:0 -155px; margin-right:12px}
.yut .eventArea .playSemi .lnk05 {background-position:-232px -155px; margin-right:11px}
.yut .eventArea .playSemi .lnk06 {background-position:-463px -155px}
.yut .eventArea .playSemi li.off a:after {display:block; content:""; width:108px; height:68px; position:absolute; right:-5px; bottom:37px; background:url('../../images/event/20201204/img_stamp.png') 0 0 no-repeat;}

.yut .eventArea .mainEvent {z-index:1000; background:url('../../images/event/20201204/bg_score_semi.png') 0 0 no-repeat; padding-top:252px}
.yut .eventArea .my_score {width:683px; height:171px; margin:0 auto}
.yut .eventArea .my_score .cur_num {width:641px; margin:0 auto; padding-top:23px}
.yut .eventArea .my_score .cur_num:after {clear:both; content:""; display:block;}
.yut .eventArea .my_score .cur_num li {background:#fff; float:left; position:relative; border-radius:5px; border:3px solid #7a4a23; height:48px; color:#d13819; font-size:15px; box-sizing:border-box;text-align:center}
.yut .eventArea .my_score .cur_num li:nth-child(1) {width:174px; margin-left:27px; padding-left:100px}
.yut .eventArea .my_score .cur_num li:nth-child(2) {width:179px; margin-left:38px; padding-left:100px}
.yut .eventArea .my_score .cur_num li:nth-child(3) {width:203px; margin-left:20px; padding-left:123px}
.yut .eventArea .my_score .cur_num li:before {content:""; display:inline-block;}
.yut .eventArea .my_score .cur_num li:nth-child(1):before {position:absolute; top:-10px; left:-30px; width:132px; height:61px; vertical-align:top; background:url('../../images/event/20201204/icon_score1.png') 0 0 no-repeat; }
.yut .eventArea .my_score .cur_num li:nth-child(2):before {position:absolute; top:-10px; left:-30px; width:134px; height:61px; vertical-align:top; background:url('../../images/event/20201204/icon_score2.png') 0 0 no-repeat; }
.yut .eventArea .my_score .cur_num li:nth-child(3):before {position:absolute; top:-10px; left:-12px; width:146px; height:65px; vertical-align:top; background:url('../../images/event/20201204/icon_score3_i.png') 0 0 no-repeat; }

.yut .eventArea .my_score .cur_num li strong {width:70px; text-align:right; line-height:45px; font-size:27px; margin-left:3px;  vertical-align:baseline; letter-spacing:-2px}
.yut .eventArea .my_score .cur_num li strong:after {display:inline-block; margin-left:2px; font-size:16px;}
.yut .eventArea .my_score .cur_num li:nth-child(1) strong:after {content:"개"; padding-right:5px}
.yut .eventArea .my_score .cur_num li:nth-child(2) strong:after {content:"개"; padding-right:5px}
.yut .eventArea .my_score .cur_num li:nth-child(3) strong:after {content:"번";}

.yut .eventArea .my_score .comment {width:635px; background:#fff; border-radius:10px; border:3px solid #7a4a23; height:56px; margin:12px auto 0; text-align:center; padding-top:5px}
.yut .eventArea .my_score .comment [class^="txt_p"] {background-image:url('../../images/event/20201204/txt_myscore.png'); background-repeat:no-repeat; text-indent:-9999px;}
.yut .eventArea .my_score .comment span,
.yut .eventArea .my_score .comment strong {display:inline-block;}
.yut .eventArea .my_score .comment .txt_p1 {width:109px; height:35px; background-position:0 0; vertical-align:bottom;}
.yut .eventArea .my_score .comment .txt_num {font-size:24px; color:#d13819; line-height:20px;}
.yut .eventArea .my_score .comment .txt_p2 {width:140px; height:35px; background-position:-128px 0; vertical-align:bottom;}
.yut .eventArea .my_score .comment .txt_p3 {width:218px; height:35px; background-position:-284px 0; vertical-align:bottom;}

.yut .eventArea .board {width:683px; height:690px; margin:0 auto; background:url('../../images/event/20201204/bg_yutboard.png') 0 0 no-repeat; position:relative}
.yut .eventArea .board .play_button {position:absolute; top:455px; left:auto; width:100%;  text-align:center}
.yut .eventArea .board .btn_yut {display:inline-block;  margin-bottom:15px; width:184px; height:57px; background:url('../../images/event/20201204/btn_yut.png') 0 0 no-repeat; text-indent:-9999px}
.yut .eventArea .board .marker {display:inline-block; width:58px; height:94px; background:url('../../images/event/20201204/img_marker1.png') 0 0 no-repeat;}
.yut .eventArea .board [class^="yutsp_"] {position:absolute; display:inline-block; width:auto; height:auto}
.yut .eventArea .board .yutsp_r0 {left:544px; top:525px;}
.yut .eventArea .board .yutsp_r1 {left:541px; top:436px;}
.yut .eventArea .board .yutsp_r2 {left:541px; top:347px;}
.yut .eventArea .board .yutsp_r3 {left:541px; top:258px;}
.yut .eventArea .board .yutsp_r4 {left:541px; top:167px;}
.yut .eventArea .board .yutsp_r5 {left:541px; top:68px;}
.yut .eventArea .board .yutsp_r6 {left:451px; top:68px;}
.yut .eventArea .board .yutsp_r7 {left:361px; top:68px;}
.yut .eventArea .board .yutsp_r8 {left:273px; top:68px;}
.yut .eventArea .board .yutsp_r9 {left:183px; top:68px;}
.yut .eventArea .board .yutsp_r10 {left:78px; top:68px;}
.yut .eventArea .board .yutsp_r11 {left:78px; top:168px;}
.yut .eventArea .board .yutsp_r12 {left:78px; top:278px;}
.yut .eventArea .board .yutsp_r13 {left:78px; top:346px;}
.yut .eventArea .board .yutsp_r14 {left:78px; top:430px;}
.yut .eventArea .board .yutsp_r15 {left:78px; top:551px;}
.yut .eventArea .board .yutsp_r16 {left:188px; top:551px;}
.yut .eventArea .board .yutsp_r17 {left:273px; top:551px;}
.yut .eventArea .board .yutsp_r18 {left:361px; top:551px;}
.yut .eventArea .board .yutsp_r19 {left:451px; top:551px;}

.yut .eventArea .board .yutsp_x1_1 {left:462px; top:145px;}
.yut .eventArea .board .yutsp_x1_2 {left:395px; top:209px;}
.yut .eventArea .board .yutsp_x1_3 {left:313px; top:292px;}
.yut .eventArea .board .yutsp_x1_4 {left:220px; top:378px;}
.yut .eventArea .board .yutsp_x1_5 {left:164px; top:441px;}

.yut .eventArea .board .yutsp_x2_1 {left:165px; top:143px;}
.yut .eventArea .board .yutsp_x2_2 {left:230px; top:211px;}
.yut .eventArea .board .yutsp_x2_3 {left:313px; top:292px;}
.yut .eventArea .board .yutsp_x2_4 {left:395px; top:378px;}
.yut .eventArea .board .yutsp_x2_5 {left:461px; top:443px;}

.yut .eventArea.end {width:763px; height:173px; background:url('../../images/event/20201204/bg_myresult.png') 0 0 no-repeat; padding-top:232px}
.yut .eventArea.end .myresult {width:685px; height:113px; background:url('../../images/event/20201204/bg_score_end.png') 0 0 no-repeat; margin:0 auto;}

.yut .eventArea.end .myresult .final_num {width:445px; margin:0 auto; padding-top:30px}
.yut .eventArea.end .myresult .final_num:after {clear:both; content:""; display:block;}
.yut .eventArea.end .myresult .final_num li {background:#fff; float:left; position:relative; border-radius:5px; border:3px solid #7a4a23; height:48px; color:#d13819; font-size:15px; box-sizing:border-box;text-align:center}
.yut .eventArea.end .myresult .final_num li:nth-child(1) {width:203px; padding-left:122px}
.yut .eventArea.end .myresult .final_num li:nth-child(2) {width:220px;  margin-left:15px;  padding-left:135px}
.yut .eventArea.end .myresult .final_num li:before {content:""; display:inline-block;}
.yut .eventArea.end .myresult .final_num li:nth-child(1):before {position:absolute; top:-10px; left:-30px; width:156px; height:61px; vertical-align:top; background:url('../../images/event/20201204/icon_score4.png') 0 0 no-repeat; }
.yut .eventArea.end .myresult .final_num li:nth-child(2):before {position:absolute; top:-10px; left:-12px; width:160px; height:65px; vertical-align:top; background:url('../../images/event/20201204/icon_score3.png') 0 0 no-repeat; }

.yut .eventArea.end .myresult .final_num li strong {width:70px; text-align:right; line-height:45px; font-size:27px; margin-left:3px;  vertical-align:baseline; letter-spacing:-2px}
.yut .eventArea.end .myresult .final_num li strong:after {display:inline-block; margin-left:2px; font-size:16px;}
.yut .eventArea.end .myresult .final_num li:nth-child(1) strong:after {content:"개"; padding-right:5px}
.yut .eventArea.end .myresult .final_num li:nth-child(2) strong:after {content:"번";}

.yut .eventArea .board .pop_yut {position:absolute; top:136px; left:97px; z-index:1000}
.yut .eventArea .board .pop_yut  #yut_rs {width:479px; height:480px; }
.yut .eventArea .board .pop_yut  #yut_rs.uly1 {background:url('../../images/event/20201204/pop_yut1.png') 0 0 no-repeat;}
.yut .eventArea .board .pop_yut  #yut_rs.uly2 {background:url('../../images/event/20201204/pop_yut2.png') 0 0 no-repeat;}
.yut .eventArea .board .pop_yut  #yut_rs.uly3 {background:url('../../images/event/20201204/pop_yut3.png') 0 0 no-repeat;}
.yut .eventArea .board .pop_yut  #yut_rs.uly4 {background:url('../../images/event/20201204/pop_yut4.png') 0 0 no-repeat;}
.yut .eventArea .board .pop_yut  #yut_rs.uly5 {background:url('../../images/event/20201204/pop_yut5.png') 0 0 no-repeat;}

.yut .eventArea .board .pop_yut .btn_mk_check {display:inline-block; width:183px; height:54px; position:absolute; top:330px; left:152px; text-indent:-9999px}

/* notice */
.yut .notice {padding:35px 30px 30px 35px; background-color:#000203;}
.yut .notice ul {padding-top:10px;}
.yut .notice li {margin-top:5px; padding-left:12px; color:#929da6; font-weight:600; line-height:1.8; font-size:13px; background:url('../../images/event/20181205/bul.png') no-repeat 0 10px;}
.yut .notice li .point {color:#f7e84d;}

.yut .eventArea .dim_popup { }
.yut .eventArea .dim_popup .dim {position:absolute; left:0; top:0; background:#000; opacity:0.6; width:100%; height:100%;}
.yut .eventArea .dim_popup .s_layer {position:absolute; top:50%; left:0; width:763px; text-align:center; margin:-180px 0;}
.yut .eventArea.end .dim_popup .s_layer {position:absolute; top:50%; left:0; width:763px; text-align:center; margin:-200px 0}
